{% extends '_layouts/index.html.twig' %}

{% block head %}

	{{ parent() }}
	
	<link href="{{ base_url('public/css/jqwidgets/jqx.base.css') }}" rel="stylesheet" type="text/css" />
	<link href="{{ base_url('public/css/jqwidgets/jqx.mdv.css') }}" rel="stylesheet" type="text/css" />
	
	<script src="{{ base_url('public/js/jqwidgets/jqxcore.js') }}"></script>
	<script src="{{ base_url('public/js/jqwidgets/jqxinput.js') }}"></script>
	<script src="{{ base_url('public/js/jquery.slides.min.js') }}"></script>

{% endblock %}

{% block content %}

	<script type="text/javascript">
		$(function(){
			$("#slides").slidesjs({
	        	width: 620,
	        	height: 400,
	        	pagination: {
      				active: false
      			},
	        	play: {
      				active: false,
      				effect: "fade",
				    interval: 8000,
				    auto: true
				},
				navigation: {
					active: false
				}
	      	});
    	});
	</script>

	<div class="grid_12 main_search">
		
		<div class="search">
			{% include 'main/search_block.html.twig' %}
		</div>
		
		<div class="advanced_search">
			<img id="advanced_button" />
		</div>
	</div>
	
	<div class="grid_8 destacados">
		<div id="slides">
			{% for slide in slides %}
				<div class="slide">
					<a href="{{ base_url('taxon') }}/{{ slide.id }}"><img src="{{ slide.img }}" title="{{ slide.caption }}" /></a>
				</div>
			{% endfor %}
		</div>
	</div>
	
	<div class="grid_4 mdv_datos">
		<img id="mdv_title" src="{{ base_url('public/images/mdv_datos/titulo-datos.png') }}" />
		<div class="mdv_data_group">
			<ul id="mdv_data">
				<li><div id="mdv_data_number">{{ rankCount.clase }}</div> <div id="mdv_data_title">Clases</div></li>
				<li><div id="mdv_data_number">{{ rankCount.subclase }}</div> <div id="mdv_data_title">SubClases</div></li>
				<li><div id="mdv_data_number">{{ rankCount.orden }}</div> <div id="mdv_data_title">Ordenes</div></li>
				<li><div id="mdv_data_number">{{ rankCount.familia }}</div> <div id="mdv_data_title">Familias</div></li>
				<li><div id="mdv_data_number">{{ rankCount.genero }}</div> <div id="mdv_data_title">Géneros</div></li>
				<li><div id="mdv_data_number">{{ rankCount.especie }}</div> <div id="mdv_data_title">Especies</div></li>
			</ul>
		</div>
	</div>
	
	<div class="clear"></div>
	
	<!--
	
	<div class="grid_8 ultimas_especies">
	
	</div>
	
	<div class="grid_4 mas_consultados">
	
	</div>
	-->

{% endblock %}