{% extends _layout %}

{% block head %}

	{{ parent() }}
	
	<link href="{{ base_url('public/css/jqwidgets/jqx.base.css') }}" rel="stylesheet" type="text/css" />
	<link href="{{ base_url('public/css/jqwidgets/jqx.mdv.css') }}" rel="stylesheet" type="text/css" />
	
	<script src="{{ base_url('public/js/jqwidgets/jqxcore.js') }}"></script>
	<script src="{{ base_url('public/js/jqwidgets/jqxinput.js') }}"></script>
	<script src="{{ base_url('public/js/jqwidgets/jqxbuttons.js') }}"></script>
	<script src="{{ base_url('public/js/jqwidgets/jqxscrollbar.js') }}"></script>
	<script src="{{ base_url('public/js/jqwidgets/jqxlistbox.js') }}"></script>
	<script src="{{ base_url('public/js/jqwidgets/jqxdropdownlist.js') }}"></script>
	<script src="{{ base_url('public/js/jqwidgets/jqxgrid.js') }}"></script>
	<script src="{{ base_url('public/js/jqwidgets/jqxgrid.columnsresize.js') }}"></script>
	<script src="{{ base_url('public/js/jqwidgets/jqxgrid.selection.js') }}"></script>
	<script src="{{ base_url('public/js/jqwidgets/jqxgrid.pager.js') }}"></script>
	<script src="{{ base_url('public/js/jqwidgets/jqxdata.js') }}"></script>
	
	<script type="text/javascript">
        $(document).ready(function () {
           	var theme = 'mdv';
           	var data = {{ results }};
            var source =
            {
                datatype: "json",
                datafields: [
                	{ name: 'id', type: 'number' },
                	{ name: 'Accepted', type: 'string' },
                    { name: 'Name', type: 'string' },
                    { name: 'Author', type: 'string' }
                ],
                localdata: data,
                pagesize: 10
            };
            var dataAdapter = new $.jqx.dataAdapter(source);
            var getLocalization = function () {
                var localizationobj = {};
                localizationobj.pagergotopagestring = "Ir a página:";
                localizationobj.pagershowrowsstring = "Mostrar filas:";
                localizationobj.pagerrangestring = " de ";
                localizationobj.pagernextbuttonstring = "Siguiente";
                localizationobj.pagerpreviousbuttonstring = "Anterior";
                
                return localizationobj;
            }
            
            $("#resultsGrid").jqxGrid(
            {
                width: 940,
                height: 330,
                source: dataAdapter,
                theme: theme,
                altrows: true,
                altstart: 1,
                altstep: 1,
                localization: getLocalization(),
                pageable: true,
                columns: [
                	{ text: '!', datafield: 'Accepted', width: 30 },
                    { text: 'Nombre', datafield: 'Name' },
                    { text: 'Autor', datafield: 'Author' }
                ]
           	});
           	
           	//Event Binding Complete
           	$("#resultsGrid").on('bindingcomplete', function () {
                $("#resultsGrid").jqxGrid('autoresizecolumns');
            });
            
            //Event Row Select
            $("#resultsGrid").on('rowselect', function (event) {
            	window.location = '{{ base_url('') }}';
                console.log(event.args);
            });
       });
    </script>
	

{% endblock %}

{% block content %}

	<div class="grid_12 main_search">
		<script type="text/javascript">
			$(document).ready(function () {
				var theme = 'classic';
				$('#input_search').jqxInput({
					height: 42,
					width: 490,
				});
			});
		</script>
		<div class="search">
			<form class="main_search_field" action="{{ base_url('search') }}" method="GET">
				<label>Busqueda general:</label>
				<div id="search_layer">
					<input id="input_search" type="text" name="name" />
					<button type="submit"><img src="{{ base_url('public/images/main_search/lupa.png') }}" alt="Buscar" /></button>
				</div>
			</form>
		</div>
		<div class="advanced_search">
			<img id="advanced_button" />
		</div>
	</div>

	<div class="grid_12 search_results">
		<h2>Busqueda para "<span class="search_text">{{ search }}</span>"</h2>
		<br />
		<div id="resultsGrid"></div>
	</div>

{% endblock %}