{% extends '_layouts/index-nosearch.html.twig' %}

{% block head %}
	
	{{ parent() }}
	
	<script type="text/javascript">
		$(document).ready(function () {
		
			var theme = 'mdv';
			
			var familias = {{ familia }};
			var sourceFamilias =
		    {
		    	datatype: "json",
		        datafields: [
		        	{ name: 'id' },
		            { name: 'name' }
		        ],
		        localdata: familias
		    };
			var daFamilias = new $.jqx.dataAdapter(sourceFamilias);
			
			$('#family').jqxDropDownList({
				source: daFamilias,
				dropDownWidth: 220,
				displayMember: 'name',
				valueMember: 'id', 
				width: 150, 
				height: 20, 
				theme: theme,
				placeHolder: ''
			});
			
			var ecorregiones = {{ ecorregion }};
			var sourceEcorregiones =
		    {
		    	datatype: "json",
		        datafields: [
		        	{ name: 'id' },
		            { name: 'name' }
		        ],
		        localdata: ecorregiones
		    };
			var daEcorregiones = new $.jqx.dataAdapter(sourceEcorregiones);
			
			$('#ecorregion').jqxDropDownList({
				source: daEcorregiones,
				dropDownWidth: 250,
				displayMember: 'name',
				valueMember: 'id', 
				width: 150, 
				height: 20, 
				theme: theme,
				placeHolder: ''
			});
			
			var ecosistemas = {{ ecosistema }};
			var sourceEcosistemas =
		    {
		    	datatype: "json",
		        datafields: [
		        	{ name: 'id' },
		            { name: 'name' }
		        ],
		        localdata: ecosistemas
		    };
			var daEcosistemas = new $.jqx.dataAdapter(sourceEcosistemas);
			
			$('#ecosistema').jqxDropDownList({
				source: daEcosistemas,
				dropDownWidth: 200,
				displayMember: 'name',
				valueMember: 'id', 
				width: 150, 
				height: 20, 
				theme: theme,
				placeHolder: ''
			});
			
			var sustratos = {{ sustrato }};
			var sourceSustratos =
		    {
		    	datatype: "json",
		        datafields: [
		        	{ name: 'id' },
		            { name: 'name' }
		        ],
		        localdata: sustratos
		    };
			var daSustratos = new $.jqx.dataAdapter(sourceSustratos);
			
			$('#sustrato').jqxDropDownList({
				source: daSustratos,
				dropDownWidth: 260,
				displayMember: 'name',
				valueMember: 'id', 
				width: 150, 
				height: 20, 
				theme: theme,
				placeHolder: ''
			});
			
			var estados = {{ estado }};
			var sourceEstados =
		    {
		    	datatype: "json",
		        datafields: [
		        	{ name: 'id' },
		            { name: 'name' }
		        ],
		        localdata: estados
		    };
			var daEstados = new $.jqx.dataAdapter(sourceEstados);
			
			$('#estado').jqxDropDownList({
				source: daEstados,
				dropDownWidth: 200,
				displayMember: 'name',
				valueMember: 'id', 
				width: 150, 
				height: 20, 
				theme: theme,
				placeHolder: ''
			});
			
			$('#estado').bind('select', function(event) {
				if (event.args) {
					$('#municipio').jqxDropDownList({ disabled: false, selectedIndex: -1 });
					var value = event.args.item.label;
					sourceMunicipios.data = {state: value};
					daMunicipios = new $.jqx.dataAdapter(sourceMunicipios);
					$('#municipio').jqxDropDownList({ source: daMunicipios });
				}
			});
			
			var sourceMunicipios = {
				datatype: 'json',
				datafields: [
					{ name: 'id', type: 'number' },
					{ name: 'name', type: 'string' }
				],
				url: '{{ base_url('admin/taxon/getTowns') }}',
				cache: false,
				async: false
			};
			
			var daMunicipios = new $.jqx.dataAdapter(sourceMunicipios);
			
			$('#municipio').jqxDropDownList({
				displayMember: 'name',
				dropDownWidth: 200,
				dropDownHeight: 150,
				valueMember: 'id',
				disabled: true,
				width: 150, 
				height: 20, 
				theme: theme,
				placeHolder: ''
			});
			
			var endemismo = [{'label': 'No endémica de Venezuela', 'value': 0}, {'label': 'Endémica de Venezuela', 'value': 1}];
			
			var sourceEndemismo =
		    {
		    	datatype: "json",
		        datafields: [
		        	{ name: 'label' },
		            { name: 'value' }
		        ],
		        localdata: endemismo
		    };
			var daEndemismo = new $.jqx.dataAdapter(sourceEndemismo);
			
			$('#endemism').jqxDropDownList({
				source: daEndemismo,
				displayMember: 'label',
				valueMember: 'value',
				autoDropDownHeight: true,
				dropDownWidth: 200,
				width: 150, 
				height: 20, 
				theme: theme,
				placeHolder: ''
			});
			
			$('#name_tax').jqxInput({ height: 20, width: 150, theme: theme });
			$('#author_tax').jqxInput({ height: 20, width: 150, theme: theme });
			$('#genus').jqxInput({ height: 20, width: 150, theme: theme });
			
			$('#location').jqxInput({ height: 20, width: 312, theme: theme });
			$('#min_alt').jqxMaskedInput({ height: 20, width: 40, mask: '####', theme: theme, promptChar: '' });
			$('#max_alt').jqxMaskedInput({ height: 20, width: 40, mask: '####', theme: theme, promptChar: '' });
			
			$('#author_pub').jqxInput({ height: 20, width: 150, theme: theme });
			$('#title_pub').jqxInput({ height: 20, width: 255, theme: theme });
			$('#year_pub').jqxMaskedInput({ height: 20, width: 50, theme: theme, mask: '####', promptChar: '' });
			
			$('#collection').jqxInput({ height: 20, width: 150, theme: theme });
			$('#coll_date').jqxMaskedInput({ height: 20, width: 150, mask: '##/##/####', theme: theme, promptChar: ' ' });
			$('#herbarium').jqxInput({ height: 20, width: 150, theme: theme });
			
			$('#submit').jqxButton({ width: 70, theme: theme });
			$('#clear').jqxButton({ width: 70, theme: theme });
			
			$('#clear').on('click', function () {
				$('#name_tax').val('');
				$('#author_tax').val('');
				$('#genus').val('');
				$('#location').val('');
				$('#min_alt').jqxMaskedInput('clear');
				$('#max_alt').jqxMaskedInput('clear');
				$('#author_pub').val('');
				$('#title_pub').val('');
				$('#year_pub').jqxMaskedInput('clear');
				$('#collection').val('');
				$('#coll_date').jqxMaskedInput('clear');
				$('#herbarium').val('');
				$('#endemism').jqxDropDownList('clear');
				$('#municipio').jqxDropDownList('clear');
				$('#municipio').jqxDropDownList({ disabled: true }); 
				$('#estado').jqxDropDownList('clear');
				$('#sustrato').jqxDropDownList('clear');
				$('#ecosistema').jqxDropDownList('clear');
				$('#ecorregion').jqxDropDownList('clear');
				$('#family').jqxDropDownList('clear');
			});
			
		});
	</script>

{% endblock %}

{% block content %}

	<div class="grid_12">
		<br/>
		<h2>Búsqueda avanzada</h2>
		<hr/>

		<form id="frm_advanced_search" class="frm_advanced_search" action="{{ base_url('search/advanced') }}" method="POST" >
			<table width="100%" class="table_advanced_search">
				<tr>
					<td width="20%" class="td_adv_main">
						<fieldset>
							<legend>Nombre</legend>
							
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td class="adv_cell">
										<label>Familia</label>
										<br/>
										<div id="family"></div>
									</td>
									<td class="adv_cell">
										<label>Género</label>
										<br/>
										<input id="genus" name="genus" />
									</td>
								</tr>
								<tr>
									<td class="adv_cell">
										<label>Nombre</label>
										<br/>
										<input id="name_tax" name="name_tax" />
									</td>
									<td class="adv_cell">
										<label>Autor</label>
										<br/>
										<input id="author_tax" name="author_tax" />
									</td>
								</tr>
							</table>
							
						</fieldset>
					</td>
					
					<td rowspan="2" class="td_adv_main">
						<fieldset>
							<legend>Hábitat</legend>
							
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td class="adv_cell">
										<label>Ecorregión</label>
										<br/>
										<div id="ecorregion"></div>
									</td>
									<td class="adv_cell">
										<label>Ecosistema</label>
										<br/>
										<div id="ecosistema"></div>
									</td>
									<td class="adv_cell">
										<label>Sustrato</label>
										<br/>
										<div id="sustrato"></div>
									</td>
								</tr>
							</table>
						</fieldset>
						
						<fieldset>
							<legend>Publicación</legend>
							
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td class="adv_cell">
										<label>Autor</label>
										<br/>
										<input id="author_pub" name="author_pub" />
									</td>
									<td class="adv_cell">
										<label>Título</label>
										<br/>
										<input id="title_pub" name="title_pub" />
									</td>
									<td class="adv_cell">
										<label>Año</label>
										<br/>
										<input id="year_pub" name="year_pub" />
									</td>
								</tr>
							</table>
						</fieldset>
						
						<fieldset>
							<legend>Espécimen</legend>
							
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td class="adv_cell">
										<label>Colección</label>
										<br/>
										<input id="collection" name="collection" />
									</td>
									<td class="adv_cell">
										<label>Fecha</label>
										<br/>
										<div id="coll_date"></div>
									</td>
									<td class="adv_cell">
										<label>Herbario</label>
										<br/>
										<input id="herbarium" name="herbarium" />
									</td>
								</tr>
							</table>
						</fieldset>
						<br>
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td class="buttons">
									<input type="button" id="clear" value="Limpiar" />
									<input type="submit" id="submit" value="Buscar" />
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td class="td_adv_main">
						<fieldset>
							<legend>Distribución geográfica</legend>
							
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td class="adv_cell">
										<label>Estado</label>
										<br/>
										<div id="estado"></div>
									</td>
									<td class="adv_cell">
										<label>Municipio</label>
										<br/>
										<div id="municipio"></div>
									</td>
								</tr>
								<tr>
									<td colspan="2" class="adv_cell">
										<label>Localidad</label>
										<br/>
										<input id="location" name="location" />
									</td>
								</tr>
								<tr>
									<td class="adv_cell">
										<label>Rango altitudinal</label>
										<br/>
										<input id="min_alt" name="min_alt" />
										<input id="max_alt" name="max_alt" />
										(metros)
									</td>
									<td class="adv_cell">
										<label>Endemismo</label>
										<br/>
										<div id="endemism"></div>
									</td>
								</tr>
							</table>
						</fieldset>
					</td>
				</tr>
			</table>
		</form>
	
	</div>
	

{% endblock %}