{% extends _layout %}

{% block head %}

	{{ parent() }}
	
	<link href="{{ base_url('public/css/jqwidgets/jqx.base.css') }}" rel="stylesheet" type="text/css" />
	<link href="{{ base_url('public/css/jqwidgets/jqx.mdv.css') }}" rel="stylesheet" type="text/css" />
	<link href="{{ base_url('public/css/lightbox.css') }}" rel="stylesheet" type="text/css" />
	
	<script src="{{ base_url('public/js/jqwidgets/jqxcore.js') }}"></script>
	<script src="{{ base_url('public/js/jqwidgets/jqxinput.js') }}"></script>
	<script src="{{ base_url('public/js/jqwidgets/jqxtabs.js') }}"></script>
	<script src="{{ base_url('public/js/jqwidgets/jqxbuttons.js') }}"></script>
	<script src="{{ base_url('public/js/jqwidgets/jqxscrollbar.js') }}"></script>
	<script src="{{ base_url('public/js/jqwidgets/jqxlistbox.js') }}"></script>
	<script src="{{ base_url('public/js/jqwidgets/jqxdropdownlist.js') }}"></script>
	<script src="{{ base_url('public/js/jqwidgets/jqxgrid.js') }}"></script>
	<script src="{{ base_url('public/js/jqwidgets/jqxgrid.columnsresize.js') }}"></script>
	<script src="{{ base_url('public/js/jqwidgets/jqxgrid.selection.js') }}"></script>
	<script src="{{ base_url('public/js/jqwidgets/jqxgrid.pager.js') }}"></script>
	<script src="{{ base_url('public/js/jqwidgets/jqxdata.js') }}"></script>
	<script src="{{ base_url('public/js/lightbox-2.6.min.js') }}"></script>	
	<script src="{{ base_url('public/js/jquery.thumbs.js') }}"></script>

	<script type="text/javascript">
        $(document).ready(function () {
        	var theme = 'mdv';
        	$('#taxonTabs').jqxTabs({ 
        		width: '100%',
        		height: 'auto',
        		selectionTracker: true,
        		position: 'top',
        		theme: theme 
        	});
       });
    </script>
	

{% endblock %}

{% block content %}

	<div class="grid_12 main_search">
	
		<script type="text/javascript">
			$(document).ready(function () {
				var theme = 'classic';
				$('#input_search').jqxInput({
					height: 42,
					width: 490,
				});
			});
		</script>
		
		<div class="search">
			{% include 'main/search_block.html.twig' %}
		</div>
		
		<div class="advanced_search">
			<img id="advanced_button" />
		</div>
		
	</div>

	<div class="grid_12 page">
		{% if (taxon.getRank == 6) or (taxon.getRank == 7) or (taxon.getRank == 8) %}
			{% set species = true %} 
		{% endif %}
		
		<h2>
			{% if taxon.getAcceptedName %}!{% endif %}{% if species %}<span class="taxon_name">{{ taxon.getName }}</span>
			{% else %}
				{{ taxon.getName }}
			{% endif %}
			
			{{ taxon.getAuthorInitials }}
		</h2>
		<br/>
		<div id="taxonTabs">
			<ul>
				<li>Detalles</li>
				{% if species %}
					{% if sinonimos %}
						<li>Sinónimos</li>
					{% endif %}
					{% if estados %}
						<li>Distribución nacional</li>
					{% endif %}
					{% if taxon.getGlobalDistribution != null or taxon.getVDWDistribution != null %}
						<li>Distribución mundial</li>
					{% endif %}
					{% if publications %}
						<li>Publicaciones</li>
					{% endif %}
					{% if locations %}
						<li>Especímenes</li>
					{% endif %}
					{% if images %}
						<li>Imágenes</li>
					{% endif %}
				{% endif %}
			</ul>
			
			<!-- Detalles -->
			<div id="TaxonPage">
				{% include 'main/Taxon/taxon_detalles.html.twig' %}
			</div>
			
			{% if species %}
				{% if sinonimos %}
					<div id="TaxonPage">
						{% include 'main/Taxon/taxon_sinonimos.html.twig' %}
					</div>
				{% endif %}
				
				{% if estados %}
					<div id="TaxonPage">
						{% include 'main/Taxon/taxon_distribucion_nacional.html.twig' %}
					</div>
				{% endif %}
				
				<!-- Distribucion mundial -->
				{% if taxon.getGlobalDistribution or taxon.getVDWDistribution %}
					<div id="TaxonPage">
						{% include 'main/Taxon/taxon_distribucion_mundial.html.twig' %}
					</div>
				{% endif %}
				
				<!-- Publicaciones -->
				{% if publications %}
					<div id="TaxonPage">
						{% include 'main/Taxon/taxon_publicaciones.html.twig' %}
					</div>
				{% endif %}
				
				<!-- Especimenes -->
				{% if locations %}
					<div id="LocationPage">
						{% include 'main/Taxon/taxon_especimenes.html.twig' %}
					</div>
				{% endif %}
				
				<!-- Imagenes -->
				{% if images %}
					<div id="TaxonPage">
						{% include 'main/Taxon/taxon_imagenes.html.twig' %}
					</div>
				{% endif %}
				
			{% endif %}
		</div>
	</div>

{% endblock %}
