{% extends '_layouts/admin.html.twig' %}


{% block head %}

	{{ parent() }}
	
	<script type="text/javascript">
		$(document).ready(function () {
			var theme = 'mdv';
			var data = {{ publications }};
			var source =
			{
			    datatype: "json",
			    datafields: [
					{ name: 'id', type: 'number' },
					{ name: 'Author', type: 'string' },
					{ name: 'Title', type: 'string' },
					{ name: 'Year', type: 'string' },
					{ name: 'Journal', type: 'string' },
					{ name: 'Collation', type: 'string' },
					{ name: 'Type', type: 'string' },
					{ name: 'Quote', type: 'string' }
				],
				localdata: data,
				pagesize: 10,
				
				deleterow: function (rowid, commit) {
					
				}
			};
			
			var dataAdapter = new $.jqx.dataAdapter(source);
			var getLocalization = function () {
				var localizationobj = {};
				localizationobj.pagergotopagestring = "Ir a página:";
			    localizationobj.pagershowrowsstring = "Mostrar filas:";
			    localizationobj.pagerrangestring = " de ";
			    localizationobj.pagernextbuttonstring = "Siguiente";
			    localizationobj.pagerpreviousbuttonstring = "Anterior";
			    localizationobj.filtershowrowstring = "Escoger:";
			    localizationobj.sortascendingstring = "Ordenar ascendentemente";
				localizationobj.sortdescendingstring = "Ordenar descendentemente";
				localizationobj.sortremovestring = "Quitar ordenación";
				localizationobj.emptydatastring = "No hay información para mostrar";
				localizationobj.filterchoosestring = "Escoja:";
			    return localizationobj;
			}
			
			$("#window").jqxWindow({ resizable: false, theme: theme, autoOpen: false, width: 425, height: 360, isModal: true });
			
			$('#author').jqxInput({ height: 20, width: 230});
			$('#title').jqxInput({ height: 20, width: 230});
			$('#year').jqxMaskedInput({ height: 20, width: 50, mask: '####', promptChar: '' });
			$('#journal').jqxInput({ height: 20, width: 230});
			$('#collation').jqxInput({ height: 20, width: 230});
			$('#type').jqxInput({ height: 20, width: 230});
			$('#quote').jqxInput({ height: 20, width: 230});
			$('#save').jqxButton({ theme: theme, height: 30, width: 70 });
			
			$("#pub_grid").jqxGrid({
				width: '100%',
				autoheight: true,
				source: dataAdapter,
				theme: theme,
				showstatusbar: true,
				renderstatusbar: function (statusbar) {
					var container = $("<div style='overflow: hidden; position: relative; margin: 5px;'></div>");
                    var addButton = $("<div style='float: left; margin-left: 5px;'><img style='position: relative; margin-top: 1px;' src='{{ base_url('public/images/img16x16_new.png') }}'/><span style='margin-left: 4px; position: relative; top: 2px;'>Nuevo</span></div>");
                    var editButton = $("<div style='float: left; margin-left: 5px;'><img style='position: relative; margin-top: 1px;' src='{{ base_url('public/images/img16x16_edit.png') }}'/><span style='margin-left: 4px; position: relative; top: 2px;'>Editar</span></div>");
                    var deleteButton = $("<div style='float: left; margin-left: 5px;'><img style='position: relative; margin-top: 1px;' src='{{ base_url('public/images/img16x16_delete.png') }}'/><span style='margin-left: 4px; position: relative; top: 2px;'>Eliminar</span></div>");
                    container.append(addButton);
                    container.append(editButton);
                    container.append(deleteButton);
                    statusbar.append(container);
                    addButton.jqxButton({ theme: theme, width: 70, height: 20 });
                    editButton.jqxButton({ theme: theme, width: 70, height: 20 });
                    deleteButton.jqxButton({ theme: theme, width: 80, height: 20 });
                    addButton.bind('click', function () {
                    	$('#id').val(-1);
                    	$('#op').val(0);
                    	$('#author').val(null);
                    	$('#title').val(null);
                    	$('#year').jqxMaskedInput('clear');
                    	$('#journal').val(null);
                    	$('#collation').val(null);
                    	$('#type').val(null);
                    	$('#quote').val(null);
						$('#window').css('visibility', 'visible');
                    	$("#window").jqxWindow('open');
                    });
                    editButton.bind('click', function () {
                    	var rowindex = $('#pub_grid').jqxGrid('getselectedrowindex');
                    	if (rowindex >= 0) {
                    		var data = $('#pub_grid').jqxGrid('getrowdata', rowindex);
                    		$('#id').val(data.id);
                    		$('#op').val(1);
                    		$('#author').val(data.Author);
	                    	$('#title').val(data.Title);
	                    	$('#year').val(data.Year);
	                    	$('#journal').val(data.Journal);
	                    	$('#collation').val(data.Collation);
	                    	$('#type').val(data.Type);
	                    	$('#quote').val(data.Quote);
							$('#window').css('visibility', 'visible');
	                    	$("#window").jqxWindow('open');
	                    	$('#window').css('visibility', 'visible');
                    		$("#window").jqxWindow('open');
                    	}
                    });
                    deleteButton.bind('click', function() {
                    
                    });
				},
				enablebrowserselection: true,
				columnsresize: true,
				showfilterrow: true,
                filterable: true,
                sortable: true,
			    localization: getLocalization(),
			    pageable: true,
			    columns: [
			    	{ text: 'Id', datafield: 'id', width: '3%', filtertype: 'textbox' },
			        { text: 'Autor', datafield: 'Author', width: '15%', filtertype: 'textbox' },
			        { text: 'Título', datafield: 'Title', width: '15%', filtertype: 'textbox' },
			        { text: 'Año', datafield: 'Year', filtertype: 'textbox' },
			        { text: 'Revista', datafield: 'Journal', filtertype: 'textbox' },
			        { text: 'Colación', datafield: 'Collation', filtertype: 'textbox' },
			        { text: 'Tipo', datafield: 'Type', width: '15%', filtertype: 'list' },
			        { text: 'Cita corta', datafield: 'Quote', filtertype: 'textbox' }
			    ]
			});
		});
	</script>

{% endblock %}

{% block content %}

	<div class="grid_12">
		<div id="tax_grid_title">
			Administración de publicaciones
		</div>
		
		<div id="pub_grid">
		</div>
		
		<div id="window" caption="Gestión de publicación">
			<div>
				<form id="windowed_form">
					<input type="hidden" id="id" name="id" />
					<input type="hidden" id="op" name="op" />
					<label>Autor:</label>
					<div>
						<input type="text" id="author" name="author" />
					</div>
					<br/>
					<label>Título:</label>
					<div>
						<input type="text" id="title" name="title" />
					</div>
					<br/>
					<label>Año:</label>
					<div>
						<div id="year"></div>
					</div>
					<br/>
					<label>Revista:</label>
					<div>
						<input type="text" id="journal" name="journal" />
					</div>
					<br/>
					<label>Colación:</label>
					<div>
						<input type="text" id="collation" name="collation" />
					</div>
					<br/>
					<label>Cita corta:</label>
					<div>
						<input type="text" id="quote" name="quote" />
					</div>
					<br/>
					<label>Tipo de publicación:</label>
					<div>
						<input type="text" id="type" name="type" />
					</div>
					<br/>
					<div>
                		<input id="save" type="button" value="Guardar" />
           			</div>
				</form>
			</div>
		</div>
		
	</div>

{% endblock %}	
