{% extends '_layouts/admin.html.twig' %}


{% block head %}

	{{ parent() }}
	
	<script type="text/javascript">
		$(document).ready(function () {
			var theme = 'mdv';
			var data = {{ users }};
			var source =
			{
			    datatype: "json",
			    datafields: [
					{ name: 'id', type: 'number' },
					{ name: 'User', type: 'string' },
					{ name: 'Name', type: 'string' },
					{ name: 'Email', type: 'string' }
				],
				localdata: data,
				pagesize: 20,
				
				deleterow: function (rowid, commit) { }
			};
			
			var dataAdapter = new $.jqx.dataAdapter(source);
			var getLocalization = function () {
				var localizationobj = {};
				localizationobj.pagergotopagestring = "Ir a página:";
			    localizationobj.pagershowrowsstring = "Mostrar filas:";
			    localizationobj.pagerrangestring = " de ";
			    localizationobj.pagernextbuttonstring = "Siguiente";
			    localizationobj.pagerpreviousbuttonstring = "Anterior";
			    localizationobj.filtershowrowstring = "Escoger:";
			    localizationobj.sortascendingstring = "Ordenar ascendentemente";
				localizationobj.sortdescendingstring = "Ordenar descendentemente";
				localizationobj.sortremovestring = "Quitar ordenación";
			    return localizationobj;
			}
			
			$("#user_window").jqxWindow({ resizable: false, theme: theme, autoOpen: false, width: 400, height: 230, isModal: true });
			
			$("#user_grid").jqxGrid({
				width: '100%',
				height: 400,
				source: dataAdapter,
				theme: theme,
				showstatusbar: true,
				renderstatusbar: function (statusbar) {
					var container = $("<div style='overflow: hidden; position: relative; margin: 5px;'></div>");
                    var addButton = $("<div style='float: left; margin-left: 5px;'><img style='position: relative; margin-top: 1px;' src='{{ base_url('public/images/img16x16_new.png') }}'/><span style='margin-left: 4px; position: relative; top: 2px;'>Nuevo</span></div>");
                    var editButton = $("<div style='float: left; margin-left: 5px;'><img style='position: relative; margin-top: 1px;' src='{{ base_url('public/images/img16x16_edit.png') }}'/><span style='margin-left: 4px; position: relative; top: 2px;'>Editar</span></div>");
                    var deleteButton = $("<div style='float: left; margin-left: 5px;'><img style='position: relative; margin-top: 1px;' src='{{ base_url('public/images/img16x16_delete.png') }}'/><span style='margin-left: 4px; position: relative; top: 2px;'>Eliminar</span></div>");
                    container.append(addButton);
                    container.append(editButton);
                    container.append(deleteButton);
                    statusbar.append(container);
                    addButton.jqxButton({ theme: theme, width: 70, height: 20 });
                    editButton.jqxButton({ theme: theme, width: 70, height: 20 });
                    deleteButton.jqxButton({ theme: theme, width: 80, height: 20 });
                    addButton.bind('click', function () {
                    	$("#user_window").jqxWindow('open');
                    });
                    editButton.bind('click', function () {
                    	var rowindex = $('#user_grid').jqxGrid('getselectedrowindex');
            			var data = $('#user_grid').jqxGrid('getrowdata', rowindex);
                    });
				},
				enablebrowserselection: true,
				columnsresize: true,
				showfilterrow: true,
                filterable: true,
                sortable: true,
			    localization: getLocalization(),
			    pageable: true,
			    columns: [
			    	{ text: 'Id', datafield: 'id', width: '5%', filtertype: 'textbox' },
			        { text: 'Usuario', datafield: 'User', filtertype: 'textbox' },
			        { text: 'Nombre', datafield: 'Name', filtertype: 'textbox' },
			        { text: 'Email', datafield: 'Email', filtertype: 'textbox' }
			    ]
			});
			$('#name').jqxInput({ height: 20, width: 230});
			$('#username').jqxInput({ height: 20, width: 230});
			$('#password').jqxInput({ height: 20, width: 230});
			$('#email').jqxInput({ height: 20, width: 230});
			$('#accept').jqxButton({ theme: theme, height: 30, width: 70 });
			var sourceRoleData = {{ roles }};
			var sourceRole =
		    {
		    	datatype: "json",
		        datafields: [
		        	{ name: 'id' },
		            { name: 'name' }
		        ],
		        localdata: sourceRoleData
		    };
			var daRole = new $.jqx.dataAdapter(sourceRole);
			$('#role').jqxDropDownList({
				source: daRole,  
				displayMember: 'name',
				valueMember: 'id', 
				width: 230, 
				height: 20, 
				theme: theme,
				placeHolder: 'Seleccione un rol'
			});
		});
	</script>

{% endblock %}

{% block content %}

	<div class="grid_12">
		<div id="tax_grid_title">
			Administración de usuarios
		</div>
		
		<div id="user_window" caption="Gestión de usuario">
			<div>
				<form id="user_form">
					<label>Nombre completo:</label>
					<div>
						<input type="text" id="name" name="name" />
					</div>
					<label>Nombre de usuario:</label>
					<div>
						<input type="text" id="username" name="username" />
					</div>
					<label>Contraseña:</label>
					<div>
						<input type="text" id="password" name="password" />
					</div>
					<label>Correo electrónico:</label>
					<div>
						<input type="text" id="email" name="email" />
					</div>
					<label>Rol:</label>
					<div>
						<div id="role"></div>
					</div>
					<br/>
					<div>
                		<input id="accept" type="submit" value="Aceptar" />
           			</div>
				</form>
			</div>
		</div>
		
		<div id="user_grid">
		</div>
		
	</div>

{% endblock %}	
