{% extends '_layouts/admin.html.twig' %}


{% block head %}

	{{ parent() }}
	
	<script type="text/javascript">
		$(document).ready(function () {
			var theme = 'mdv';
			var data = {{ users }};
			var source =
			{
			    datatype: "json",
			    datafields: [
					{ name: 'id', type: 'number' },
					{ name: 'User', type: 'string' },
					{ name: 'Name', type: 'string' },
					{ name: 'Email', type: 'string' },
					{ name: 'Role', type: 'string' },
					{ name: 'rid', type: 'number' }
				],
				localdata: data,
				pagesize: 10,
				
				deleterow: function (rowid, commit) {
					var user = $('#user_grid').jqxGrid('getrowdata', rowid);
					var data = {
						id: user.id
					};
					console.log(data);
					$.ajax({
						type: 'POST',
						url: '{{ base_url('admin/user/delete_user') }}',
						data: data,
						cache: false,
						dataType: 'text',
						success: function (data, status, xhr) {
							commit(true);
						},
						error: function(jqXHR, textStatus, errorThrown) {
							commit(false);
							alert(errorThrown);
						}
					});
				}
			};
			
			var dataAdapter = new $.jqx.dataAdapter(source);
			var getLocalization = function () {
				var localizationobj = {};
				localizationobj.pagergotopagestring = "Ir a página:";
			    localizationobj.pagershowrowsstring = "Mostrar filas:";
			    localizationobj.pagerrangestring = " de ";
			    localizationobj.pagernextbuttonstring = "Siguiente";
			    localizationobj.pagerpreviousbuttonstring = "Anterior";
			    localizationobj.filtershowrowstring = "Escoger:";
			    localizationobj.sortascendingstring = "Ordenar ascendentemente";
				localizationobj.sortdescendingstring = "Ordenar descendentemente";
				localizationobj.sortremovestring = "Quitar ordenación";
				localizationobj.emptydatastring = "No hay información para mostrar";
				localizationobj.filterchoosestring = "Escoja:";
			    return localizationobj;
			}
			
			$("#window").jqxWindow({ resizable: false, theme: theme, autoOpen: false, width: 425, height: 270, isModal: true });
			
			$("#user_grid").jqxGrid({
				width: '100%',
				autoheight: true,
				source: dataAdapter,
				theme: theme,
				showstatusbar: true,
				renderstatusbar: function (statusbar) {
					var container = $("<div style='overflow: hidden; position: relative; margin: 5px;'></div>");
                    var addButton = $("<div style='float: left; margin-left: 5px;'><img style='position: relative; margin-top: 1px;' src='{{ base_url('public/images/img16x16_new.png') }}'/><span style='margin-left: 4px; position: relative; top: 2px;'>Nuevo</span></div>");
                    var editButton = $("<div style='float: left; margin-left: 5px;'><img style='position: relative; margin-top: 1px;' src='{{ base_url('public/images/img16x16_edit.png') }}'/><span style='margin-left: 4px; position: relative; top: 2px;'>Editar</span></div>");
                    var deleteButton = $("<div style='float: left; margin-left: 5px;'><img style='position: relative; margin-top: 1px;' src='{{ base_url('public/images/img16x16_delete.png') }}'/><span style='margin-left: 4px; position: relative; top: 2px;'>Eliminar</span></div>");
                    container.append(addButton);
                    container.append(editButton);
                    container.append(deleteButton);
                    statusbar.append(container);
                    addButton.jqxButton({ theme: theme, width: 70, height: 20 });
                    editButton.jqxButton({ theme: theme, width: 70, height: 20 });
                    deleteButton.jqxButton({ theme: theme, width: 80, height: 20 });
                    addButton.bind('click', function () {
                    	$('#id').val(-1);
            			$('#op').val(0);
                    	$('#name').val('');
            			$('#username').val('');
            			$('#password').attr('placeholder', '');
            			$('#password').val('');
            			$('#email').val('');
            			$('#role').jqxDropDownList('selectIndex', -1);
            			$('#window').css('visibility', 'visible');
                    	$("#window").jqxWindow('open');
                    });
                    editButton.bind('click', function () {
                    	var rowindex = $('#user_grid').jqxGrid('getselectedrowindex');
                    	if (rowindex >= 0) {
                    		var data = $('#user_grid').jqxGrid('getrowdata', rowindex);
	            			$('#name').val(data.Name);
	            			$('#username').val(data.User);
	            			$('#email').val(data.Email);
	            			$('#id').val(data.id);
	            			$('#op').val(1);
	            			$('#password').attr('placeholder', 'En blanco para dejar igual');
	            			var item = $('#role').jqxDropDownList('getItemByValue', data.rid);
	            			$('#role').jqxDropDownList('selectItem', item);
	            			$('#window').css('visibility', 'visible');
	            			$('#window').jqxWindow('open');
                    	}
                    });
                    deleteButton.bind('click', function() {
                    	var rowindex = $('#user_grid').jqxGrid('getselectedrowindex');
                    	if (rowindex >= 0) {
                    		var id = $("#user_grid").jqxGrid('getrowid', rowindex);
        					$("#user_grid").jqxGrid('deleterow', id);
                    	}
                    });
				},
				enablebrowserselection: true,
				columnsresize: true,
				showfilterrow: true,
                filterable: true,
                sortable: true,
			    localization: getLocalization(),
			    pageable: true,
			    columns: [
			    	{ text: 'Id', datafield: 'id', width: '5%', filtertype: 'textbox' },
			        { text: 'Usuario', datafield: 'User', width: '20%', filtertype: 'textbox' },
			        { text: 'Nombre', datafield: 'Name', filtertype: 'textbox' },
			        { text: 'Email', datafield: 'Email', filtertype: 'textbox' },
			        { text: 'Rol', datafield: 'Role', filtertype: 'list' }
			    ]
			});
			$('#name').jqxInput({ height: 20, width: 230});
			$('#username').jqxInput({ height: 20, width: 230});
			$('#password').jqxInput({ height: 20, width: 230});
			$('#email').jqxInput({ height: 20, width: 230});
			$('#save').jqxButton({ theme: theme, height: 30, width: 70 });
			
			$('#successPersist').jqxWindow({ width: 300, height: 100, isModal: true, autoOpen: false, resizable: false, theme: theme });
			$('#failPersist').jqxWindow({ width: 300, height: 100, isModal: true, autoOpen: false, resizable: false, theme: theme });
			
			var sourceRoleData = {{ roles }};
			var sourceRole =
		    {
		    	datatype: "json",
		        datafields: [
		        	{ name: 'id' },
		            { name: 'name' }
		        ],
		        localdata: sourceRoleData
		    };
			var daRole = new $.jqx.dataAdapter(sourceRole);
			$('#role').jqxDropDownList({
				source: daRole,
				autoDropDownHeight: true,
				displayMember: 'name',
				valueMember: 'id', 
				width: 230, 
				height: 20, 
				theme: theme,
				placeHolder: 'Seleccione un rol'
			});
			
			$('#windowed_form').jqxValidator({
				animationDuration: 1,
				rules: [
					{ input: '#name', message: 'El nombre es requerido', action: 'keyup, blur', rule: 'required' },
					{ input: '#username', message: 'El usuario es requerido', action: 'keyup, blur', rule: 'required' },
					{ input: '#password', message: 'El password es requerido', action: 'keyup, blur', rule: function() {
						if ($('#op').val() == 0) {
							return $.trim($('#password').val()).length > 0;
						}
						else {
							return true;
						}
					 }}
				],
				theme: theme
			});
			
			$('#save').click(function () {
				var data = {
					id: $('#id').val(),
					op: $('#op').val(),
					name: $('#name').val(),
					username: $('#username').val(),
					password: $('#password').val(),
					email: $('#email').val(),
					role: $('#role').jqxDropDownList('getSelectedItem').value
				};
				
				var validation = function(isValid) {
					if (isValid) {
						$.ajax({
							type: 'POST',
							url: '{{ base_url('admin/user/persist_user') }}',
							data: data,
							dataType: 'text',
							success: function(response) {
								if (response == true) {
									$('#successPersist').css('visibility', 'visible');
									$('#successPersist').jqxWindow('open');
									setTimeout(function () {
										$('#successPersist').jqxWindow('close');
									}, 2500);
									window.location = '{{ base_url('admin/user') }}';
								}
								else {
									$('#failPersist').css('visibility', 'visible');
									$('#failPersist').jqxWindow('open');
									setTimeout(function () {
										$('#failPersist').jqxWindow('close');
									}, 4000);
								}
							},
							error: function(jqXHR, textStatus, errorThrown) {
								alert(errorThrown);
							}
						});
					}
				};
				$('#windowed_form').jqxValidator('validate', validation);
			});
		});
	</script>

{% endblock %}

{% block content %}

	<div class="grid_12">
		<div id="tax_grid_title">
			Administración de usuarios
		</div>
		
		<div id="user_grid">
		</div>
		
		<div id="window" caption="Gestión de usuario">
			<div>
				<form id="windowed_form">
					<input type="hidden" id="id" name="id" />
					<input type="hidden" id="op" name="op" />
					<label>Nombre completo:</label>
					<div>
						<input type="text" id="name" name="name" />
					</div>
					<br/>
					<label>Nombre de usuario:</label>
					<div>
						<input type="text" id="username" name="username" />
					</div>
					<br/>
					<label>Contraseña:</label>
					<div>
						<input type="text" id="password" name="password" />
					</div>
					<br/>
					<label>Correo electrónico:</label>
					<div>
						<input type="text" id="email" name="email" />
					</div>
					<br/>
					<label>Rol:</label>
					<div>
						<div id="role"></div>
					</div>
					<br/>
					<div>
                		<input id="save" type="button" value="Guardar" />
           			</div>
				</form>
			</div>
		</div>
		
	</div>
	
	<div id="successPersist" caption="Mensaje">
		<div id="successMessage">
			El usuario fue persistido exitosamente
		</div>
	</div>
	
	<div id="failPersist" caption="Mensaje">
		<div id="failMessage">
			Hubo un problema al persistir el usuario
		</div>
	</div>

{% endblock %}	
