
						<ul>
							{% for pub in publications %}
								<li><span>
								{{ trim(pub.getAuthor) }}. {{ trim(pub.getYear) }}. {{ trim(pub.getTitle|e) }}. 
								{% if pub.getJournal != null %}
									{{ trim(pub.getJournal) }}. 
								{% endif %}
								{% if pub.getCollation != null %}
									{{ trim(pub.getCollation) }}.
								{% endif %}
								</span></li>
							{% endfor %}
						</ul>
						