<script type="text/javascript">
	$(document).ready(function () {
    	var theme = 'mdv';
        $("#vdw").jqxTooltip({ 
        	content: '<img src="{{ base_url('public/images/vanderwijk.jpg') }}" />', 
        	position: 'mouse', 
        	name: 'vdw', 
        	theme: theme,
        	autoHide: false
        });
        
        $("#andean").jqxTooltip({ 
        	content: '<img src="{{ base_url('public/images/andinotropicales.jpg') }}" />', 
        	position: 'mouse', 
        	name: 'vdw', 
        	theme: theme,
        	autoHide: false
        });
    });
</script>
						<!-- Distribución mundial -->
						{% if taxon.getGlobalDistribution != null %}
							<strong>Distribución en el mundo:</strong>
							<ul>
								<li><span>{{ taxon.getGlobalDistribution }}</span></li>
							</ul>
							<br/>
						{% endif %}
						
						<!-- Distribución VDW -->
						{% if taxon.getVDWDistribution != null %}
							<strong>Distribución por zonas de Van der Wijk:</strong><img id="vdw" src="{{ base_url('public/images/img12x12_about.png') }}" style="margin-left:5px;" />
							<ul>
								<li><span>{{ taxon.getVDWDistribution }}</span></li>
							</ul>
							<br/>
						{% endif %}
						
						<!-- Paises Andinotropicales -->
						{% if taxon.tropicalAndeanDistribution != null %}
							<strong>Distribución por paises andino-tropicales:</strong><img id="andean" src="{{ base_url('public/images/img12x12_about.png') }}" style="margin-left:5px;" />
							<ul>
								<li><span>{{ taxon.tropicalAndeanDistribution }}</span></li>
							</ul>
						{% endif %}