<script type="text/javascript">
	$(document).ready(function () {
    	var theme = 'mdv';
        $("#ecorregion").jqxTooltip({ 
        	content: '<img src="{{ base_url('public/images/ecorregiones.png') }}" />', 
        	position: 'mouse', 
        	name: 'ecorregiones', 
        	theme: theme,
        	autoHide: false
        });
        $("#ecosistema").jqxTooltip({ 
	        content: '<img src="{{ base_url('public/images/ecosistemas.jpg') }}" />', 
	        position: 'mouse', 
	        name: 'ecosistemas', 
	        theme: theme,
	        autoHide: false
       	});
       	$("#sustrato").jqxTooltip({ 
	        content: '<img src="{{ base_url('public/images/sustratos.jpg') }}" />', 
	        position: 'mouse', 
	        name: 'sustratos', 
	        theme: theme,
	        autoHide: false
       	});
    });
</script>
				<!-- Jerarquia -->
				
				<strong>Jerarquía Taxonómica</strong>
				<ul>
					{% for h in hierarchy %}
						<li>
						<span>
							<strong>{{ rank[h.getRank] }}</strong>: {{ h.getName }}
						</span>
						</li>
					{% endfor %}
				</ul>
				
				{% if species %}
				
					<!-- Autor -->
					<br/>
					{% if taxon.getAuthorInitials %}
						<strong>Autor:</strong>
						<ul>
							<li><span>{{ taxon.getAuthorInitials }}</span></li>
						</ul>
					{% endif %}
					
					<!-- Revision -->
					{% if taxon.getReviewComments %}
						<br/>
						<strong>Aceptado por:</strong>
						<ul>
							<li><span>{{ taxon.getReviewComments }}</span></li>
								<ul id="reviewAuthor">
									<li><span>Revisado por: {{ taxon.getReviewEditor }} {{ taxon.getReviewDate|date('d/m/Y') }}<span></li>
								</ul>
						</ul>
					{% endif %}

					<!-- Endemica -->
					{% if endemic %}
						<br/>
						<strong>Endémica:</strong>
						<ul>
							<li><span>{% if endemic %}Si{% else %}No{% endif %}</span></li>
						</ul>
					{% endif %}
					
					<!-- Basionimo -->
					{% if basionimo %}
						<br/>
						<strong>Basiónimo:</strong>
						<ul>
							<li><span><span class="taxon_name">{{ basionimo.getName }}</span> {{ basionimo.getAuthorInitials }}<span></li>
						</ul>
					{% endif %}
					
					<!-- Ecorregion -->
					{% if ecorregion %}
						<br/>
						<strong>Ecorregión:</strong><img id="ecorregion" src="{{ base_url('public/images/img12x12_about.png') }}" style="margin-left:5px;" />
						<ul>
							<li><span>{{ ecorregion }}</span></li>
						</ul>
					{% endif %}
					
					<!-- Ecosistema -->
					{% if ecosistema %}
						<br/>
						<strong>Ecosistema:</strong><img id="ecosistema" src="{{ base_url('public/images/img12x12_about.png') }}" style="margin-left:5px;" />
						<ul>
							<li><span>{{ ecosistema }}</span></li>
						</ul>
					{% endif %}
					
					<!-- Habitat -->
					{% if habitat %}
						<br/>
						<strong>Hábitat:</strong>
						<ul>
							<li><span>{{ habitat }}</span></li>
						</ul>
					{% endif %}
					
					<!-- Sustrato -->
					{% if sustratos %}
						<br/>
						<strong>Sustrato:</strong><img id="sustrato" src="{{ base_url('public/images/img12x12_about.png') }}" style="margin-left:5px;" />
						<ul>
							<li><span>{{ sustratos }}</span></li>
						</ul>
					{% endif %}
					
					<!-- Lista Roja -->
					{% if listaRoja %}
						<br/>
						<strong>Lista roja:</strong>
						<ul>
							{% for lista_r in listaRoja %}
								<li><span>{{ lista_r.getCategory }} {{ lista_r.getCriterionIUCN }} {{ lista_r.getCountry }} 
									{{ lista_r.getAuthor }}</span></li>
							{% endfor %}
						</ul>
					{% endif %}
					
					<!-- Cambio Climatico -->
					{% if cambioClimatico %}
						<br/>
						<strong>Indicador de cambio climático:</strong>
						<ul>
							{% for cambio_c in cambioClimatico %}
								<li><span>{{ cambio_c.getCriterion }} {{ cambio_c.getAuthor }}</span></li>
							{% endfor %}
						</ul>
					{% endif %}
					
					<!-- Comentarios -->
					{% if taxon.getComments %}
						<br/>
						<strong>Comentarios:</strong>
						<ul>
							<li><span>{{ taxon.getComments }}</span></li>
						</ul>
					{% endif %}
					
				{% endif %}
