{% if taxon.getId == 1310 %}

<script type="text/javascript">
$(function() {
	$('#gallery a').lightBox();
});
</script>

<a id="gallery" href="{{ base_url('public/images/gallery/Acroporium_estrellae/Acrest001.JPG')}}" data-lightbox="taxon">Imagen 1</a>
<a id="gallery" href="{{ base_url('public/images/gallery/Acroporium_estrellae/Acrest002.JPG')}}" data-lightbox="taxon">Imagen 2</a>
<a id="gallery" href="{{ base_url('public/images/gallery/Acroporium_estrellae/Acrest003.JPG')}}" data-lightbox="taxon">Imagen 3</a>
<a id="gallery" href="{{ base_url('public/images/gallery/Acroporium_estrellae/Acrest004.JPG')}}" data-lightbox="taxon">Imagen 4</a>
<a id="gallery" href="{{ base_url('public/images/gallery/Acroporium_estrellae/Acrest005.JPG')}}" data-lightbox="taxon">Imagen 5</a>
<a id="gallery" href="{{ base_url('public/images/gallery/Acroporium_estrellae/Acrest006.JPG')}}" data-lightbox="taxon">Imagen 6</a>
<a id="gallery" href="{{ base_url('public/images/gallery/Acroporium_estrellae/Acrest007.JPG')}}" data-lightbox="taxon">Imagen 7</a>

{% endif %}
