{% extends '_layouts/admin.html.twig' %}


{% block head %}

	{{ parent() }}
	
	<script type="text/javascript">
		$(document).ready(function () {
			var theme = 'mdv';
			var data = {{ taxons }};
			var source =
			{
			    datatype: "json",
			    datafields: [
					{ name: 'id', type: 'number' },
					{ name: 'Name', type: 'string' },
					{ name: 'Author', type: 'string' },
					{ name: 'Rank', type: 'string' },
					{ name: 'RankEnum', type: 'number' }
				],
				localdata: data,
				pagesize: 20,
				
				deleterow: function (rowid, commit) { }
			};
			
			var dataAdapter = new $.jqx.dataAdapter(source);
			var getLocalization = function () {
				var localizationobj = {};
				localizationobj.pagergotopagestring = "Ir a página:";
			    localizationobj.pagershowrowsstring = "Mostrar filas:";
			    localizationobj.pagerrangestring = " de ";
			    localizationobj.pagernextbuttonstring = "Siguiente";
			    localizationobj.pagerpreviousbuttonstring = "Anterior";
			    localizationobj.filtershowrowstring = "Escoger:";
			    localizationobj.sortascendingstring = "Ordenar ascendentemente";
				localizationobj.sortdescendingstring = "Ordenar descendentemente";
				localizationobj.sortremovestring = "Quitar ordenación";
			    return localizationobj;
			}
			
			$("#taxon_higher").jqxWindow({ resizable: false, theme: theme, autoOpen: false, width: 210, height: 65, isModal: true });
			
			$("#tax_grid").jqxGrid({
				width: '100%',
				autoheight: true,
				source: dataAdapter,
				theme: theme,
				showstatusbar: true,
				renderstatusbar: function (statusbar) {
					var container = $("<div style='overflow: hidden; position: relative; margin: 5px;'></div>");
                    var addButton = $("<div style='float: left; margin-left: 5px;'><img style='position: relative; margin-top: 1px;' src='{{ base_url('public/images/img16x16_new.png') }}'/><span style='margin-left: 4px; position: relative; top: 2px;'>Nuevo</span></div>");
                    var editButton = $("<div style='float: left; margin-left: 5px;'><img style='position: relative; margin-top: 1px;' src='{{ base_url('public/images/img16x16_edit.png') }}'/><span style='margin-left: 4px; position: relative; top: 2px;'>Editar</span></div>");
                    var deleteButton = $("<div style='float: left; margin-left: 5px;'><img style='position: relative; margin-top: 1px;' src='{{ base_url('public/images/img16x16_delete.png') }}'/><span style='margin-left: 4px; position: relative; top: 2px;'>Eliminar</span></div>");
                    container.append(addButton);
                    container.append(editButton);
                    container.append(deleteButton);
                    statusbar.append(container);
                    addButton.jqxButton({ theme: theme, width: 70, height: 20 });
                    editButton.jqxButton({ theme: theme, width: 70, height: 20 });
                    deleteButton.jqxButton({ theme: theme, width: 80, height: 20 });
                    addButton.bind('click', function () {
                    	$("#taxon_higher").jqxWindow('open');
                    });
                    editButton.bind('click', function () {
                    	var rowindex = $('#tax_grid').jqxGrid('getselectedrowindex');
            			var data = $('#tax_grid').jqxGrid('getrowdata', rowindex);
            			window.location = "{{ base_url('admin/taxon/taxon_form') }}" + '/' + data.RankEnum + '/' + data.id ;
                    });
				},
				enablebrowserselection: true,
				columnsresize: true,
				showfilterrow: true,
                filterable: true,
                sortable: true,
			    localization: getLocalization(),
			    pageable: true,
			    columns: [
			    	{ text: 'Id', datafield: 'id', width: '5%', filtertype: 'textbox' },
			        { text: 'Nombre', datafield: 'Name', filtertype: 'textbox' },
			        { text: 'Autor', datafield: 'Author', filtertype: 'textbox' },
			        { text: 'Tipo', datafield: 'Rank', filtertype: 'list' }
			    ]
			});
			
			var rankL = [ 
				{"name": "Clase", "enum": "1"}, 
				{"name": "SubClase", "enum": "2"}, 
				{"name": "Orden", "enum": "3"}, 
				{"name": "Familia", "enum": "4"}, 
				{"name": "Género", "enum": "5"}, 
				{"name": "Especie", "enum": "6"}, 
				{"name": "SubEspecie", "enum": "7"}, 
				{"name": "Variedad", "enum": "8"} 
			];
			var sourceRankList =
            {
            	datatype: "json",
                datafields: [
                	{ name: 'name' },
                    { name: 'enum' }
                ],
                localdata: rankL
            };
            var dAdapterRankList = new $.jqx.dataAdapter(sourceRankList);
            $("#rankType").jqxDropDownList({
                    source: dAdapterRankList,
                    selectedIndex: -1, 
                    displayMember: 'name', 
                    valueMember: 'enum', 
                    width: 200, 
                    height: 25, 
                    theme: theme,
                    placeHolder: ""
            });
            $("#rankType").on('select', function (event) {
            	console.log(event);
            	window.location = "{{ base_url('admin/taxon/taxon_form') }}" + '/' + event.args.item.value;
            });
		});
	</script>

{% endblock %}

{% block content %}

	<div class="grid_12">
		<div id="tax_grid_title">
			Administración de taxones
		</div>
		
		<div id="taxon_higher" caption="Escoja un tipo">
			<div>
				<div id="rankType">
        		</div>
			</div>
		</div>
		
		<div id="tax_grid">
		</div>
		
	</div>

{% endblock %}	
