{% extends '_layouts/admin.html.twig' %}

{% block head %}

	{{ parent() }}
	
	<script type="text/javascript">
		$(document).ready(function () {
			var theme = 'mdv';
			var parentTaxonList = {{ parentRankList }};
			var sourceParentRank =
		    {
		    	datatype: "json",
		        datafields: [
		        	{ name: 'id' },
		            { name: 'name' }
		        ],
		        localdata: parentTaxonList
		    };
			var daParentRank = new $.jqx.dataAdapter(sourceParentRank);
			$('#parent').jqxDropDownList({
				source: daParentRank,  
				displayMember: 'name',
				valueMember: 'id', 
				width: 230, 
				height: 20, 
				theme: theme,
				placeHolder: ''
			});
			var item = $("#parent").jqxDropDownList('getItemByValue', {% if taxon %} {{ taxon.getParentHierarchy.getId }} {% else %} -1 {% endif %});
			if (item) {
				$('#parent').jqxDropDownList('selectItem', item);
			}
			else {
				$('#parent').jqxDropDownList('selectIndex', 0);
			}
			$('#name').jqxInput({
				height: 20,
				width: 230
			});
			$('#successPersist').jqxWindow({ width: 300, height: 100, isModal: true, autoOpen: false, resizable: false, theme: theme });
			$('#failPersist').jqxWindow({ width: 300, height: 100, isModal: true, autoOpen: false, resizable: false, theme: theme });
			$('#save').jqxButton({ width: 70, theme: theme });
			$('#taxon_form').jqxValidator({
				animationDuration: 1,
				rules: [
					{ input: '#name', message: 'El nombre es requerido', action: 'keyup, blur', rule: 'required' }
				],
				theme: theme
			});
			$('#save').click(function () {
				var data = {
					id: {{ id }},
					name: $('#name').val(),
					parent: $('#parent').jqxDropDownList('getSelectedItem').value,
					type: {{ rankNumber }},
					operation: {{ operation }}
				};	
				var validation = function(isValid) {
					if (isValid) {
						$.ajax({
							type: 'POST',
							url: '{{ base_url('admin/taxon/persist_higher') }}',
							data: data,
							dataType: 'text',
							success: function(response) {
								if (response) {
									$('#successPersist').css('visibility', 'visible');
									$('#successPersist').jqxWindow('open');
									setTimeout(function () {
										$('#successPersist').jqxWindow('close');
									}, 2500);
									window.location = '{{ base_url('admin/taxon') }}';
								}
								else {
									$('#failPersist').css('visibility', 'visible');
									$('#failPersist').jqxWindow('open');
									setTimeout(function () {
										$('#failPersist').jqxWindow('close');
									}, 4000);
								}
							},
							error: function(jqXHR, textStatus, errorThrown) {
								alert(errorThrown);
							}
						});
					}
				};
				$('#taxon_form').jqxValidator('validate', validation);
			});
		});
	</script>
	
{% endblock %}

{% block content %}

	<div class="grid_12">
		<div id="tax_hg_admin_name">
			{% if taxon %}
				{{ taxon.getName }}
			{% else %}
				Nuev{% if rank == 'Género' %}o{% else %}a{% endif %} {{ rank }} 
			{% endif %}
		</div>
		<div id="tax_hg_admin_type">
			{{ rankName }}
		</div>
		
		<form class="taxon_form" id="taxon_form">
			<fieldset>
			<legend>Detalles</legend>
				<p>
					<label class="field">Nombre:</label>
					<input id="name" name="name" value="{{ taxon.name }}" />
				</p>
				<p>
					<label class="field">Taxón padre ({{ parentRank }}):</label>
					<div id="parent"></div>
				</p>
				<input type="button" value="Guardar" id="save" />
			</fieldset>
		</form>
	</div>
	
	<div id="successPersist" caption="Mensaje">
		<div id="successMessage">
			El taxón fue persistido exitosamente
		</div>
	</div>
	
	<div id="failPersist" caption="Mensaje">
		<div id="failMessage">
			Ya existe este taxón
		</div>
	</div>

{% endblock %}	