{% extends '_layouts/admin.html.twig' %}

{% block head %}

	{{ parent() }}
	
	<script src="{{ base_url('public/js/jqwidgets/jqxinput.js') }}"></script>
	<script src="{{ base_url('public/js/jqwidgets/jqxbuttons.js') }}"></script>
	<script src="{{ base_url('public/js/jqwidgets/jqxscrollbar.js') }}"></script>
	<script src="{{ base_url('public/js/jqwidgets/jqxlistbox.js') }}"></script>
	<script src="{{ base_url('public/js/jqwidgets/jqxcheckbox.js') }}"></script>

{% endblock %}

{% block content %}

	<div id="taxWindow" caption="Tax">
	</div>

	<div class="grid_12">
		<div id="tax_grid_title">
			
		</div>
		
		<div id="tax_grid">
		</div>
	</div>

{% endblock %}	