<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	{% block head %}
		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
		
		<link href="{{ base_url('public/images/favicon.ico') }}" rel="icon" type="image/x-icon" />
		
		<link href="{{ base_url('public/css/960_12_col.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ base_url('public/css/jqwidgets/jqx.base.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ base_url('public/css/jqwidgets/jqx.mdv.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ base_url('public/css/reset.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ base_url('public/css/text.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ base_url('public/css/styles.css') }}" rel="stylesheet" type="text/css" />
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="{{ base_url('public/js/jqwidgets/jqx-all.js') }}"></script>
		
		<script type="text/javascript">
			$(document).ready(function () {
				var theme = 'mdv';
				$("#mdv_logo").attr("src", "{{ base_url('public/images/header_logo') }}" + "/mdv-" + Math.floor(Math.random()*16+1) + ".jpg");
			});
		</script>
		
		<title>{{ title }}</title>
			
	{% endblock %}
</head>
<body>
	<div class="container_12">
		<div class="grid_12 header_logo">
			<img id="mdv_logo" />
		</div>
		
		<div class="clear"></div>
		
		<div class="grid_12 admin_menu_panel">
			<ul id="admin_nav">
				<li><a href=" {{ base_url('admin/home') }}">Inicio</a></li>
				<li><a href=" {{ base_url('admin/taxon') }}">Taxones</a></li>
				<li><a href=" {{ base_url('admin/publication') }}">Publicaciones</a></li>
				<li><a href=" {{ base_url('admin/user') }}">Usuarios</a></li>
				</ul>
			<div class="login_info">
				<strong>Usuario:</strong> {{ username }} | <strong>Rol:</strong> {{ role }} | <a href="{{ base_url('login/logout') }}">Salir</a>
			</div>
		</div>
		
		{% block content %}
		{% endblock %}
		
		<div class="clear"></div>
		
		<div class="grid_12 footer_admin">
			
		</div>
		
	</div>
</body>
</html>